{% load static %}
{% load crispy_forms_tags %}
<div class="col-lg-9">
              <div class="card">
                <div class="card-header d-flex justify-content-between text-center">
                  <div>
                    Lista Utilizador
                  </div>
                  <div class="d-flex justify-content-between">
                    <a href="{% url 'RejistuUtilizador' %}" class="btn btn-info btn-sm"><i class="fa fa-plus-square"></i> Rejistu Utilizador</a>
                  </div>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table id="dataTable"  class="table table-hover table-striped">
                      <thead>
                        <tr>
                          <th>No</th>
                          <th>Username</th>
                          <th>Email</th>
                          <th>User Status</th>
                          <th>User Group</th>
                          <th>Date Created</th>
                          <th>Password</th>
                          <th>Asaun</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for data in userlist %}
                        <tr>
                          <th scope="row">{{ forloop.counter }}</th>
                          <td>{{ data.username }}</td>
                          <td>{{ data.email }}</td>
                          <td>{% if data.is_active %}<span class="badge badge-secondary">Ativu</span><a title="Desativa Utilizador" href="{% url 'desativuUser' data.id %}"><span class="ml-2 badge bg-danger text-white"> x </span></a>{% else %}<span class="badge badge-warning">La Ativu</span> <a title="Ativa Utilizador" href="{% url 'ativuUser' data.id %}"><span class="ml-2 badge bg-primary text-white">&#10003;</span></a>{% endif %}</td>
                          <td>
                            {{ data.groups.all.0.name }}                          </td>
                          <td>{{ data.date_joined }}</td>
                          <td><a href="{% url 'resetUserPassword' data.id %}"><span class="badge badge-secondary">Reset</span></a></td>
                          <td> <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#delete-{{ data.id }}" style="text-decoration: none"><i class="fa fa-trash"></i></button></td>

                          <div class="modal fade" id="delete-{{ data.id}}"><!-- modal -->
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <!-- Modal Header -->
                                <div class="modal-header">
                                  <h4 class="modal-title">Delete User</h4>
                                  <button type="button" class="close" data-dismiss="modal">X</button>
                                </div>
                                <!-- Modal body -->
                                <div class="modal-body">
                                  Ita Boot hakarak hamoos Utilizador ho username {{ data.username | upper }}?
                                </div>
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                                  <a href="{% url 'deleteUser' data.id %}" class="btn btn-info">Yes</a>
                                </div>
                              </div>
                            </div>
                        </div><!-- endmodal -->
                        </tr>
                        {% endfor %}

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
