{% extends "main/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
	<div class="row justify-content-center mt-5">
		<div class="col-sm-8 mb-5">
			<center>
				<div class="row">
					<div class="col-sm-12 mb-5">
					</div>
				</div>
				<h3>SISTEMA JESTAUN PRODUSAUN </h3>
				<h3>GOTA </h3>
				<hr />
				<h6>KOMPANHIA GOTA<br/>TIMOR-LESTE<br/>
				</h6>
			</center>
		</div>
		<div class="col-sm-4">
			 {% if messages %}
                        {% for message in messages %} 
                            <div id="divmessage" class="alert alert-{{ message.tags }} alert-dismissable">
                              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                              {{message}}
                            </div>
                        {% endfor %}
                    {% endif %}
			<div class="card border-info shadow-lg">
				<div class="card-header bg-info text-center" style="color: white">
					LOGIN
				</div>
				<div class="card-body">
					<form method="POST">
						{% csrf_token %}
						{{ form|crispy }}
						<div class="form-group d-flex align-items-center justify-content-center mt-4 mb-0">
							<button class="btn btn-sm btn-outline-info" type="submit">Log In <i class="fa fa-sign-in"></i></button>
						</div>
					</form>
				</div> <!--end card-body-->
			</div> <!--end card-->
		</div> <!--end col-->
	</div> <!--end row-->
</div>
{% endblock %}