{% load static %}

<!DOCTYPE html>
<html>
<head>
    {% if user.is_authenticated %}
    
	<title>SGGOTA - {{title}}</title>
    {%else%}
    <title>SGGOTA - LOGIN PAGE</title>
    {%endif%}

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'main/images/gota.png' %}">
	<link rel="stylesheet" href="{% static 'main/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'main/font-awesome/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/table-responsive.css' %}" media="screen">
	<link href="{% static 'main/css/main.css' %}" rel="stylesheet">
	{% block headStyle %}{% endblock %}

</head> 
<body>

	{% include 'main/navbar.html' %}
<div class="container-fluid">
	<div class="container" align="right">
        {% if request.user.groups.all.0.name == 'admin' %}
        <span class="bg-primary p-1 pl-2 pr-2 text-white" style="font-size: 0.7rem">P&aacute;jina Admin Geral<span/>
        {% endif %}
        {% if request.user.groups.all.0.name == 'ubloodbank' %}
        <div class="d-flex justify-content-end">
            <span class="bg-secondary p-1 pl-2 pr-2 text-white" style="font-size: 0.7rem">User Banco de Sangue</span>
        </div>
        {% endif %}
        {% if request.user.groups.all.0.name == 'uenfermaria' %}
        <div class="d-flex justify-content-end">
            <span class="bg-secondary p-1 pl-2 pr-2 text-white" style="font-size: 0.7rem">User Enfermaria : {{request.user.user.enfermaria}}</span>
        </div>
        {% endif %}
    </div>
	{% block content %}  


	{% endblock %}

</div>

<footer class="footer-container text-dark text-center mt-5 p-3">
  <div class="text-dark">
    © 2023 Copyright :
    <a href="#" class="">  GOTA-</a>
    <a href="{% url 'home' %}">Timor-Leste</a>
  </div>
  <small class="text-dark">
    Developed by :
    <a href="#" target="_blank">Adalcisa</a> 
  </small>
</footer>
</body> 
<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="{% static 'main/js/jquery.min.js' %}"></script>
		<!-- <script src="{% static 'main/bootstrap/js/bootstrap.min.js' %}" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
		<script src="{% static 'main/bootstrap/js/bootstrap.min.js' %}"></script>
		<!-- Datatable -->
		<link href="{% static 'main/datatables/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
		<script src="{% static 'main/datatables/js/jquery.dataTables.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'main/datatables/js/dataTables.bootstrap4.min.js' %}" type="text/javascript"></script>
        {% if user.is_authenticated %}
            {% if user.groups.all.0.name == 'distribuicao' %}
                <script src="{% static 'main/notif/notif_badge.js' %}"></script>
                <script src="{% static 'main/notif/notif_pedidu.js' %}"></script>
            {% elif user.groups.all.0.name == 'uenfermaria' %}
            {% endif %}
            <!-- {% if user.groups.all.0.name == 'cram_sub' %}
                <script src="{% static 'main/notif/notif_member.js' %}"></script>
            {% endif %} -->
        {% endif %}
		{% block scripts %}{% endblock %}
</html> 